<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>


    <title>Financial Management System</title>
</head>


<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center" id="headerSection">
            <p><em>Simulate financial markets and trade using your bank accounts</em></p>
            <h1>Financial Management System</h1>
        </div>
    </div>
    <!-- NAVBAR -->
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            id="navSection"
    >
        <!-- <a class="navbar-brand" href="#">Superhero Sightings</a> -->
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Latest trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stock-exchanges">Stock Exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stocks">Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account-types">Account Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/banks">Banks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/customers">Customers</a
                    >
                </li>
            </ul>
        </div>
    </nav>

    <div class="row m-4">
        <div class="col">
            <h2 th:text="${customer.firstName} + ' ' + ${customer.lastName}">Customer Name</h2>
            <h4 th:text="'Contact : ' + ${customer.phoneNumber}">Customer Contact</h4>
        </div>


        <!--Add/View Customer Portfolio-->
        <div class="col" id="portfolio-section">
            <a href="#"
               th:if="${portfolio == null}"
               th:href="@{/customer-portfolio-add(customerID=${customer.customerID})}"
               class="btn btn-outline-primary btn-md">+ Create Stock Portfolio</a>

            <a href="#"
               th:if="${portfolio != null}"
               th:href="@{/customer-portfolio-detail(customerID=${customer.customerID})}"
               class="btn btn-outline-primary btn-md">View Stock Portfolio</a>
        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="table-main-header" colspan="9">
                        ACTIVE ACCOUNTS
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Bank</th>
                    <th>Type</th>
                    <th>Opening date</th>
                    <th>Deposits balance</th>
                    <th>Interest balance</th>
                    <th>Total balance</th>
                    <th>Transactions</th>
                    <th>Close account</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="openAccounts" th:each="openAccount : ${openAccounts}">
                    <td th:text="${openAccount.accountID}">Customer ID</td>
                    <td th:text="${openAccount.bank.name}">Bank Name</td>
                    <td th:text="${openAccount.accountType.type}">Account type</td>
                    <td th:text="${openAccount.openingDate}">Opening Date</td>
                    <td th:text="${openAccount.depositBalance}">Customer ID</td>
                    <td th:if="${!openAccount.accountType.type.toString().equals('CHECKING')}" th:text="${openAccount.interestBalance}">Savings Interest Balance</td>
                    <td th:if="${openAccount.accountType.type.toString().equals('CHECKING')}" th:text="'-'">Checking Interest Balance</td>
                    <td th:text="${openAccount.totalBalance}">Checking Interest Balance</td>
                    <td><a href="#" th:href="@{/transactions-account(accountID=${openAccount.accountID})}">View transactions</a></td>
                    <td><a href="#" th:href="@{/account-close(accountID=${openAccount.accountID})}">Close account</a></td>
                </tr>
            </table>
            <!--Add/View Customer Portfolio-->
            <div class="col">
                <a href="#"
                   th:href="@{/account-add(customerID=${customer.customerID})}"
                   class="btn btn-outline-primary btn-md">+ Add account</a>
            </div>
        </div>

        <div th:if="${closedAccounts.size() != 0}" class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="table-main-header" colspan="11">
                        CLOSED ACCOUNTS
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Bank</th>
                    <th>Type</th>
                    <th>Opening date</th>
                    <th>Deposits balance</th>
                    <th>Interest balance</th>
                    <th>Closing balance</th>
                    <th>Closing Date</th>
                    <th>Closing Reason</th>
                    <th>Transactions</th>
                    <th>Delete</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="closedAccount : ${closedAccounts}">
                    <td th:text="${closedAccount.accountID}">Customer ID</td>
                    <td th:text="${closedAccount.bank.name}">Bank Name</td>
                    <td th:text="${closedAccount.accountType.type}">Account type</td>
                    <td th:text="${closedAccount.openingDate}">Opening Date</td>
                    <td th:text="${closedAccount.depositBalance}">Deposits balance</td>
                    <td th:if="${closedAccount.accountType.equals('CHECKING')}" th:text="${openAccount.interestBalance}">Savings Interest Balance</td>
                    <td th:if="${closedAccount.accountType.equals('CHECKING') == false}" th:text="'-'">Checking Interest Balance</td>
                    <td th:text="${closedAccount.totalBalance}">Closing balance</td>
                    <td th:text="${closedAccount.closingDate}">Closing date</td>
                    <td th:text="${closedAccount.closingReason}">Closing reason</td>
                    <td><a href="#" th:href="@{/transactions-account(accountID=${closedAccount.accountID})}">View transactions</a></td>
                    <td><a href="#" th:href="@{/account-delete(accountID=${closedAccount.accountID})}">Delete Account</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS plugin bundle with Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"
></script>

</body>

<style>
    #portfolio-section{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

    }
    .table-main-header {
        text-align: center;
        font-weight: bold;
        background-color: lightgray;
        font-style: oblique;
    }
</style>

</html>
