<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />

    <title>Financial Management System</title>
</head>


<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center" id="headerSection">
            <p><em>Simulate financial markets and trade using your bank accounts</em></p>
            <h1>Financial Management System</h1>
        </div>
    </div>
    <!-- NAVBAR -->
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            id="navSection"
    >
        <!-- <a class="navbar-brand" href="#">Superhero Sightings</a> -->
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Latest trades</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stock-exchanges">Stock Exchange<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stocks">Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="banks">Banks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="customers">Customers</a
                    >
                </li>
            </ul>
        </div>
    </nav>

    <div class="row m-4 text-center">
        <h3>
            FMS Customers
        </h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact Info</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.firstName} +' ' + ${customer.lastName} ">Name</td>
                    <td th:text="${customer.phoneNumber}">Contact Info</td>
                    <td><a href="#" th:href="@{/customer-detail(customerID=${customer.customerID})}">Details</a></td>
                    <td><a href="#" th:href="@{/customers-edit(customerID=${customer.customerID})}">Edit</a></td>
                    <td><a href="#" th:href="@{/customers-delete(customerID=${customer.customerID})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <!--Add Customer Button-->
            <div class="col m-3">
                <a href="/customers-add" class="btn btn-outline-primary btn-md">+ Add Customer</a>
            </div>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS plugin bundle with Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"
></script>
</body>

</html>
