<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />

    <title>Financial Management System</title>
</head>


<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center" id="headerSection">
            <p><em>Bank Simulation Made Easy: Create, Transfer, Visualize Interests!</em></p>
            <h1>Financial Management System</h1>
        </div>
    </div>
    <!-- NAVBAR -->
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            id="navSection"
    >
        <!-- <a class="navbar-brand" href="#">Superhero Sightings</a> -->
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="account-types">Account Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="banks">Banks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="transactions">Transactions</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row m-4 text-center">
        <h3>
            FMS Add Stock Exchanges
        </h3>
        <div class="col-7 text-center m-3">
            <form action="addStockExchange" method="POST">
                <!-- Stock Exchange Ticker -->
                <div class="form-group row">
                    <label for="tickerCode" class="col-3 col-form-label">
                        Ticker Code</label>
                    <div class="col-9">
                        <input type="text" name="tickerCode" id="tickerCode"
                               class="form-control" th:value="${exchangeOrganization.tickerCode}"/>
                        <div th:if="${#fields.hasErrors('exchangeOrganization.tickerCode')}">
                            <p th:each="error : ${#fields.errors('exchangeOrganization.tickerCode')}" class="alert alert-danger"
                               th:text="${error}"> Invalid tickerCode </p></div>
                    </div>
                </div>


                <!-- Stock Exchange Name -->
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">
                        Name</label>
                    <div class="col-9">
                        <input type="text" name="name" id="name"
                               class="form-control" th:value="${exchangeOrganization.name}"/>
                        <div th:if="${#fields.hasErrors('exchangeOrganization.name')}">
                            <p th:each="error : ${#fields.errors('exchangeOrganization.name')}" class="alert alert-danger"
                               th:text="${error}"> Invalid Name </p></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="stocks" class="col-3 col-form-label">
                        Stocks</label>
                    <div class="col-9">
                        <select multiple id="stocks" name="stockID"
                                class="form-control" >
                            <option th:each="stock : ${stocks}"
                                    th:value="${stock.stockID}"
                                    th:text="${stock.tickerCode}">
                                Stock Ticker</option>
                        </select>
                    </div>
                </div>
                <a href="/stock-exchanges" class="btn btn-outline-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Add Stock Exchange</button>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS plugin bundle with Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"
></script>
</body>

</html>
